<%- include ('../partials/header');%>
    <div class="container">
        <header class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Welcome to YelpCamp</h1>
                <p class="col-md-8 fs-4">View our hand-picked campgrounds from all over the world</p>
                <button class="btn btn-primary btn-lg" type="button"><a class="link-light"
                        style="text-decoration: none;" href="/campgrounds/new">Add new Campground</a></button>
            </div>
        </header>

        <div class="row text-center">
            <% campgrounds.forEach(function(campground){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="figure">
                        <img class="img-thumbnail" src="<%=campground.image%>" alt="">
                        <h4 class="figure-caption">
                            <%= campground.name %>
                        </h4>
                    </div>
                    <p><a class="btn btn-primary" style="text-decoration: none;" href="/campgrounds/<%= campground._id %> ">More Info</a></p>
                </div>
                <% }); %>
        </div>
    </div>
<%- include ('../partials/footer');%>